.button {
  // min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $third-color;
  background-color: $accent-color;
  @include font($f-s: 16px, $l-h: 1.88, $l-s: 0.06em);
  border: 1px solid transparent;
  @extend %pointer;
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
}

// .form__button {
//   // @include flexCentered;
//   padding: 10px 28px;
//   // margin-left: 12px;
// }

// .form__icon {
//   display: block;
//   // margin-left: 10px;
//   fill: currentColor;
// }

// .modal__button {
//   display: block;
//   padding: 10px 55px;
//   // margin: 0 auto;
// }
