// .footer__form {
//   // margin-left: 93px;
// }

// .form {
//   // display: flex;
// }

// .form__field {
//   position: relative;
// }

// .form__input {
//   // width: 358px;
//   padding-top: 17px;
//   padding-bottom: 17px;
//   padding-left: 16px;
//   color: rgba(255, 255, 255, 0.6);
//   background-color: $background-color;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   border-radius: 4px;
// }

// .form__label {
//   position: absolute;
//   top: 50%;
//   left: 16px;
//   transform: translateY(-50%);
//   font-size: 16px;
//   line-height: 1.25;
//   color: rgba(255, 255, 255, 0.6);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   .form__input:focus + &,
//   .form__input:not(:placeholder-shown) + & {
//     transform: translateX(-80px) translateY(-50%);
//   }
// }
