.logo {
  @extend %link;
  min-width: 134px;
  @include font($f-s: 24px, $l-h: 1.17);
  color: $fourth-color;
  font-family: Raleway;
  &--accent {
    color: $accent-color;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }

  @media screen and (min-width: 1200px) {
    @include font($f-s: 26px, $l-h: 1.19);
    min-width: 145px;
  }
}

.footer__logo {
  // margin-bottom: 20px;
  &--white {
    color: $third-color;
  }
}
