.backdrop {
  // width: 100vw;
  // height: 100vh;
  position: fixed;
  opacity: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  // width: 528px;
  // min-height: 581px;
  padding: 40px;
  background-color: $third-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
  }
}

.modal__close {
  @extend %pointer;
  // @include flexCentered();
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: $third-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal__close:hover &,
  .modal__close:focus & {
    fill: $accent-color;
  }
}

.modal__text {
  @include font($f-s: 20px, $l-h: 1.15);
  color: $second-color;
  margin-bottom: 12px;
  display: block;
}

.modal__form {
  margin-bottom: 10px;
  &:nth-last-child(1) {
    margin-bottom: 20px;
  }
}

.modal__label {
  @include font($f-s: 12px, $f-w: 400, $l-h: 1.17, $l-s: 0.01em);
  color: $main-color;
}

.modal__checklabel {
  @include font($f-w: 400, $l-h: 1.71);
  @include flexCentered();
  color: $main-color;
}

.modal__wrap {
  position: relative;
}

.modal__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: $second-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal__input:focus + & {
    fill: $accent-color;
  }
}

.modal__comment {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    @include font($f-w: 400, $l-s: 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus,
  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }
}

.modal__form--agreement {
  @include flexCentered($j-c: start);
  width: 448px;
  margin-bottom: 30px;
}

.modal__checkbox {
  margin-right: 7px;
}

.modal__link {
  color: $accent-color;
  margin-left: 3px;
}

.modal__item {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid $second-color;
  border-radius: 2px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked + .modal__checklabel .modal__item {
  background-color: $accent-color;
  border: none;
}

.modal__checkbox:focus + .modal__checklabel .modal__item {
  border-color: $accent-color;
}

.modal__checkicon {
  fill: $third-color;
}
