.title {
  @include font($f-s: 28px, $l-h: 1.18);
  margin-bottom: 30px;
  color: $second-color;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include font($f-s: 36px, $l-h: 1.17);
  }
}
