%link {
  text-decoration: none;
  display: block;
  outline: none;
}

%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// %headerLink {
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   display: inline-flex;
//   align-items: center;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   color: $second-color;
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   fill: currentColor;
// }

%pointer {
  cursor: pointer;
}
