.footer {
  background-color: $background-color;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: unset;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    &__container {
      @include flexCentered($a-i: baseline, $j-c: space-between);
    }
  }
}

.footer__list {
  @extend %list;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__media {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__link {
  @extend %link;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer__link--white {
  color: $third-color;
}

.footer__title {
  margin-bottom: 20px;
  @include font();
  text-transform: uppercase;
  color: $third-color;
}
