.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

// .header__container {
//   @media screen and (min-width: 768px) {
//     display: flex;
//     align-items: center;
//   }
// }

.header-nav {
  display: flex;
  align-items: center;
  min-height: 60px;

  @media screen and (min-width: 768px) {
    min-height: 80px;
  }
}

.header-nav__button {
  @include flexCentered;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-nav__icon-cross {
  display: none;
  .header-nav__button.is-open & {
    display: block;
  }
  .header-nav__button:hover &,
  .header-nav__button:focus & {
    fill: $accent-color;
  }
}

.header-nav__icon-menu {
  .header-nav__button.is-open & {
    display: none;
  }
  .header-nav__button:hover &,
  .header-nav__button:focus & {
    fill: $accent-color;
  }
}

.menu-container {
  background-color: #fff;
  padding: 48px 40px;

  color: $second-color;
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 88px;
    padding: 0;
  }

  // @media screen and (min-width: 1200px) {
  //   margin-left: 93px;
  // }
}

.header-nav__list,
.header-contact__list,
.header-media__list {
  @extend %list;
}

.header-nav__list {
  @media screen and (max-width: 767px) {
    margin-bottom: 302px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header-contact__list {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  // @media screen and (min-width: 1200px) {
  //   display: flex;
  // }
}

.header-nav__item {
  @media screen and (max-width: 767px) {
    @include font($f-s: 40px, $f-w: 500, $l-h: 1.12, $l-s: 0.02em);
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    @include font($f-w: 500, $l-s: 0.02em);
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  // @media screen and (min-width: 1200px) {
  //   position: relative;
  //   &:not(:last-child) {
  //     margin-right: 50px;
  //   }
  // }
}

.header-nav__link {
  @extend %link;
  color: $second-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &--current::after {
      position: absolute;
      display: inline-flex;
      align-items: center;
      bottom: -1px;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}

.header-contact__item {
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-bottom: 33px;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // @media screen and (min-width: 1200px) {
  //   &:not(:last-child) {
  //     margin-right: 50px;
  //   }
  // }
}

.header-contact__link {
  @extend %link;
  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (max-width: 767px) {
    color: $main-color;
    @include font($f-s: 24px, $f-w: 500, $l-h: 1.17, $l-s: 0.02em);
    &--tel {
      color: $accent-color;
      @include font($f-s: 34px, $f-w: 500, $l-h: 1.18, $l-s: 0.02em);
    }
  }

  @media screen and (min-width: 768px) {
    color: $main-color;
    @include flexCentered($j-c: start);
    @include font($f-s: 12px, $f-w: 500, $l-h: 1.17, $l-s: 0.02em);
  }

  // @media screen and (min-width: 1200px) {
  //   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  //   display: inline-flex;
  //   align-items: center;
  //   padding-top: 32px;
  //   padding-bottom: 32px;
  //   color: $second-color;
  //   font-weight: 500;
  //   line-height: 1.14;
  //   letter-spacing: 0.02em;
  //   fill: currentColor;
  // }
}

.header-contact__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-right: 10px;
    fill: currentColor;
    &--email {
      width: 14px;
      height: 10px;
    }
    &--tel {
      width: 10px;
      height: 14px;
    }
  }

  // @media screen and (min-width: 1200px) {
  //   &--email {
  //     width: 16px;
  //     height: 12px;
  //   }
  //   &--tel {
  //     width: 10px;
  //     height: 16px;
  //   }
  // }
}

.header-media__list {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-media__item {
  @include font($f-s: 18px, $f-w: 500, $l-h: 1.22, $l-s: 0.02em);
}

.header-media__link {
  display: flex;
  align-items: center;
  @extend %link;
  color: $accent-color;
  &::after {
    content: '';
    display: block;
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
