.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: $background-color;
  // min-height: 600px;
  // max-width: 1600px;
  // margin-right: auto;
  // margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.jpg);
  background-size: cover;
  background-position: center;
}

.hero__title {
  // margin-bottom: 30px;
  color: $third-color;
  text-align: center;
  text-transform: uppercase;
  @include font($f-s: 44px, $f-w: 900, $l-h: 1.36, $l-s: 0.06em);
}
