.partners {
  @include sectionPadding(94px, 94px);
}

// .partners__item {
//   width: 170px;
//   height: 92px;
//   &:not(:first-child) {
//     margin-left: 30px;
//   }
// }

.partners__link {
  // @include flexCentered();
  @extend %link;
  @extend %pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // width: 100%;
  // height: 100%;
  border: 1px solid $svg-color;
  border-radius: 4px;
  color: $svg-color;
  fill: currentColor;
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

// .partners__icon {
//   width: 106px;
//   height: 60px;
// }
