.team {
  background-color: $background-btn-color;
}

.team__list {
  @extend %list;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  margin-right: auto;
  margin-left: auto;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.team__info {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team__title {
  color: $second-color;
  @include font($f-s: 16px, $f-w: 500, $l-h: 1.19);
  text-align: center;
  margin-bottom: 10px;
}

.team__text {
  color: $main-color;
  @include font($f-s: 16px, $f-w: 400, $l-h: 1.19);
  text-align: center;
  margin-bottom: 16px;
}
